# Server 
PORT=3000

# Database config (Use 'file' for JSON, 'postgres' for Database)
DATA_SOURCE=file

# Postgres Database Connection (if DATA_SOURCE=postgres)
DB_URL=postgresql://neondb_owner:npg_8VBakhMZN0PO@ep-royal-hall-a4r8td3o.us-east-1.aws.neon.tech/neondb?sslmode=require